
.bloop/
# Ignorar arquivos .jar grandes
lib/*
!lib/


# Ignorar diretórios de compilação e artefatos
/target/
/project/target/

# Ignorar arquivos temporários e de relatórios do Metals
.metals/.reports/

# Ignorar arquivos temporários de IDEs e editores
.idea/
*.iml

# Ignorar arquivos específicos do Metals (IDE)
.metals/
